* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-page: #3cdbc0;
  --text-color-menu: #4a4a4a;
  --text-color-page: #ffffff;
}
.body{
  font-family: "Rubik", sans-serif;
}
.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 1;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  text-transform: uppercase;
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.ppal {
  background-color: var(--background-page);
  text-transform: capitalize;
  color: var(--text-color-page);
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .ppal {
    font-size: 40px;
  }
  .menu {
    justify-content: right;
    align-items: right;
  }
  .header-logo {
    justify-content: left;
    align-items: left;
  }
}
