*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-page: #3CDBC0;
    --text-color-menu: #4a4a4a;
    --text-color-page: #FFFFFF;
}
.menu{
    list-style: none;
    font-size: 16px;
}
.ppal{
    background-color: var(--background-page);
    font-family: 'Rubik', sans-serif;
    color: var(--text-color-page);
    font-size: 30px;
}